@using Example07.Models.Home

@model EmployeeEditVM

@{
    <div class="text-center">
        <h3 class="display-4">EmployeeEdit</h3>
        <br />
        Here we got EmployeeId=@Model.EmployeeId <br />
        <br />
        This is proof-of-concept application, with that Id you can do what you want.
    </div>
}