<!-- Index.cshtml -->
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Example09</h3>
    
    Please select page "Employees Advanced Filter" from the above menu
</div>
