@using Example04.Models.Home

@model EmployeeInfoVM

@{
    <div class="text-center">
        <h3 class="display-4">EmployeeInfo</h3>
        <br />
        Here we got EmployeeId=@Model.EmployeeId <br/>
        <br />
        This is proof-of-concept application, with that Id you can do what you want. 
    </div>
}
